# This file is managed by Puppet; changes may be overwritten.

# loads the correct firmware into an ACCES I/O USB device when it is plugged in
#
# this implementation may seem a bit peculiar, what with two initialization steps per board; the reason
# for this scheme is that after the first step in which the firmware is downloaded into the board, the
# board disconnects and reconnects with a new product ID with the 0x8000 bit set; it also assumes a new
# device number on the USB bus, which is why the chmod is performed in the second step; one additional
# complication is that only boards with a product ID whose upper nibble is zero exhibit this two stage
# behavior; for example, the boards with product IDs in the 0x4000 range do not change their ID after
# having their firmware downloaded

SUBSYSTEM=="usb", ACTION=="add", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="1605", ATTR{idProduct}=="0003", RUN+="/usr/local/bin/fxload -t fx2lp -D $tempnode -I /usr/share/usb/USB-DIO-96.hex"
SUBSYSTEM=="usb", ACTION=="add", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="1605", ATTR{idProduct}=="8003", GROUP="dialout", MODE="0664"

# end of file
